:root {
  --main-color: #212121;
  --grey: #757575;
  --footer-mail-number: rgba(255, 255, 255, 0.6);
  --white: #ffffff;
  --blue: #2196f3;
  --black: #000000;
}
ul {
  list-style: none;
}

body {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2px;
}
.logo .logo-blue {
  color: var(--blue);
}
.logo .logo-black {
  color: var(--black);
}
.logo .logo-white {
  color: var(--white);
}
/* Site-nav */

.site-nav .link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1px;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue);
}
.list-cont .mail,
.list-cont .tel {
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1px;
  letter-spacing: 0.02em;
}
.list-cont .mail:hover,
.list-cont .mail:focus,
.list-cont .tel:hover,
.list-cont .tel:focus {
  color: var(--blue);
}
/* Hero */
.main-banner {
  background-color: #2f303a;
}
.text-hero {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.text-btn {
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.features-list .features-desc {
  color: var(--grey);
}
.list-members .position {
  color: var(--grey);
}

.bg .footer {
  background-color: #2f303a;
}
.adress-list .city {
  color: var(--white);
}
.adress-list .mail,
.adress-list .tel {
  color: var(--footer-mail-number);
}
/* Портфолио */
.filters .item {
  color: var(--main-color);
}
.filters .item :hover,
.filters .item :focus {
  color: var(--white);
}
.serv-list .service {
  color: var(--main-color);
}
.serv-list .descrip {
  color: var(--grey);
}
